<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="studentPojo" type="pojo.StudentPojo" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://192.168.169.2:5432/test" />
                <property name="username" value="feng" />
                <property name="password" value="111111" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mapper/StudentMapper.xml" />-->
<!--        <mapper class="mapper.StudentMapper" />-->
<!--        <package name="mapper"/>-->
        <mapper url="file:///C:\Users\liang.feng\IdeaProjects\Test\src\main\java\mapper\StudentMapper.xml" />
    </mappers>
</configuration>